
.banner{
	
	width: 950px;
	height: 350px;
	margin: auto;
	border: 3pxsolid blu;
	background-size: 100% 100%;
		
	animation: banner 35s infinite;
	animation-direction: alternate;
	
	-webkit-border-radius: 10px;
 -moz-border-radius: 10px;
border-radius: 10px;
	
}


@keyframes banner {
	
	0%, 10% {
	background-image:url(../img/12.jpg);
	opacity: 1;
	}
	
	20%, 30% {
	background-image: url(../img/8.png);
	opacity: 1;	
	}
	
	40%, 50% {
	background-image:url(../img/7.png);
	opacity: 1;
	
	}
	
	60%, 70% {
	background-image: url(../img/unad5.jpg);
	opacity: 1;
	
	}
	
	80%, 100% {
	background-image: url(../img/11.png);
	opacity: 1;
	
	}
}

.banner:hover
{

-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);

-webkit-border-radius: 10px;
 -moz-border-radius: 10px;
border-radius: 10px;
border-bottom-style:groove;
 
}

.espacio{
	
	width: auto;
	height: 50px;
	margin: auto;
	
	background-size: 100% 100%;	
}




.text{
font-family: 'Century Gothic';
position: absolute;
  left: 0;
  right: 400px;
  margin: 0 auto;
  top:20px;
background-size: 10px;
font: 190% "Comic Sans MS", cursive;    
color:#F2B80D;


font-weight:bolder;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.15), 0 10px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.10);



    }
	
	.text1{
font-family: 'Century Gothic';
position: absolute;
  left: 500px;
  right: 0;
  margin: 0 auto;
  top:20px;
background-size: 10px;
font: 190% "Comic Sans MS", cursive;    
color:#FF5900;

font-weight:bolder;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.15), 0 10px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.10);
    }
  

	
      .img:hover{
            transform:scale(0.8);
            -ms-transform:scale(0.8); // IE 9 
            -moz-transform:scale(0.8); // Firefox 
            -webkit-transform:scale(0.8); // Safari and Chrome 
            -o-transform:scale(0.8); // Opera
        }
      
    
    } 
}







